/* google font  */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Azeret Mono", monospace;
}

/* banner section */

#hero-section {
  background-image: url("assets/Hero-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 652px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-content {
  width: 998px;
  height: 582px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.hero-content h1 {
  color: rgb(13, 19, 33);
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
}
.hero-content button {
    width: 250px;
    height: 55px;
  border-radius: 8px;
  background: rgb(13, 19, 33);
  padding: 15px 25px;
}
.hero-content button a {
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  text-decoration: none;
}



/* why web develop section */

#why-web-development{
  width: 1140px;
  height: 1393px;
  border-radius: 15px;
  background: rgba(13, 19, 33, 0.02);
  padding: 80px 100px ;
  margin: 0 auto;
  margin-top: 80px;    
}
.development-content{
  width: 946px;
  height: 1233px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.development-heading{
padding: 0 30px;
}
.development-heading h1{
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  text-align: center;
  margin-bottom: 20px;
}
.development-heading p{
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin-bottom: 40px;
}

.do-dev-topic1{
width: 946px;
height: 336px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.topic2bg{
  background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.left-content1{
width: 477px;
height: 200px;
display: flex;
flex-direction: column;
align-items: start;
justify-content: space-between;
}
.left-content1 h1{
color: rgba(13, 19, 33, 0.7);
font-size: 24px;
font-weight: 700;
line-height: 36px;
}
.left-content1 p{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
}
.left-content1 a{
color: black;
padding: 10px;
border: 1px solid black;
text-decoration: none;
}
.right-content1{
width: 274.17px;
height: 240px;
}





/* inspiration section */

#my-inspiration{
  width: 1140px;
  height: 775px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 80px;
  box-sizing: border-box;
}
.inspiration-title{
  width: 852px;
  height: 113px;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
}
.inspiration-title h1{
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  margin-bottom: 20px;
}
.inspiration-title h3{
  width: 852px;
  height: 52px;
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
}
.inspiration-video{
  width: 1140px;
  height: 614px;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 15px;
}
.inspiration-video iframe{
  width: 1076px;
  height: 550px;
  border-radius: 15px;
  margin: 0 auto;
  margin: 30px;
}





/* My current target */

#current-target{
  width: 1140px;
  height: 460px;
  margin: 0 auto;
  margin-bottom: 80px;
}
.ct-title{
  width: 852px;
  height: 113px;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
}
.ct-title h1{
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  margin-bottom: 20px;
}
.ct-title p{
  width: 852px;
  height: 52px;
  font-size: 16px;
  font-weight: 400;
}

.html{
  background-color:rgba(255, 76, 30, 0.05) ;
}
.css{
  background-color:rgba(0, 76, 232, 0.05) ;
}
.JavaScript{
  background-color:rgba(255, 223, 0, 0.05);
}
.ct-content{
  display: flex;
  justify-content: space-between;
}
.ct-body{
  width: 364px;
height: 299px;
padding: 40px;
border-radius: 15px;
}
.ct-body h2{
  font-family: arial;
font-size: 24px;
font-weight: 800;
line-height: 36px;
margin: 10px 0;
}
.ct-body p{
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin-bottom: 10px;
}
.ct-body a{
  color: black;
font-size: 16px;
font-weight: 700;
line-height: 19px;
text-decoration-line: underline;
}



/* my next target */

#my-next-target{
  width: 1140px;
  margin: 0 auto;
  margin-bottom: 80px;
}
.nt-content > div{
  border: 1px solid lightgray;
  padding: 40px;
  border-radius: 15px;
  margin-bottom: 20px;
}
.reactjs, .nodejs, .mongodb{
  display: flex;
}
.nt-image{
  margin-right: 40px;
}
.nt-content h2{
font-size: 24px;
font-weight: 800;
margin-bottom: 10px;
}
.nt-content p{
font-size: 16px;
font-weight: 400;
line-height: 26px;
opacity: .7;
margin-bottom: 10px;
}
.nt-content a{
font-size: 16px;
font-weight: 700;
line-height: 19px;
color: black;
text-decoration-line: underline;
  }



/* support section */

#support{
  width: 1140px;
  height: 314px;
  margin: 0 auto;
  border-radius: 15px;
  margin-bottom: 80px;
  background-image: url("assets/handshake.jpg");
  background: rgba(0, 0, 0, 0.6), ;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.support-content{
  width: 1044px;
  height: 186px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
}
.support-content h3{
font-size: 32px;
font-weight: 700;
line-height: 36px;
margin-bottom: 10px;
}
.support-content p{
font-size: 16px;
font-weight: 400;
line-height: 26px;
width: 606px;
margin-bottom: 20px;
text-align: center;
opacity: 0.7;
}
.support-content input{
  font-size: 16px;
  font-weight: 400;
  width: 500px;
  padding: 10px;
  margin-right: 130px;
  border-radius: 8px;
  border: 1px solid
  rgba(13, 19, 33, 0.15);
}
.support-content button{
  font-size: 20px;
  font-weight: 600;
  width: 100px;
  padding: 8px 15px;
  border-radius: 8px;
  border: none;
  margin-top: -39px;
  margin-right: -500px;
}





/* footer section */

#footer{
  background-color: rgba(13, 19, 33, 0.03);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-content{
  width: 1140px;
  height: 36px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-left h5{
font-size: 20px;
font-weight: 600;
line-height: 23px;
}